<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/chart.js/dist/Chart.min.css" />

<div class="content-wrapper">

<!-- Main content -->
<!-- Primera fila -->
<div class="row g-5 g-xl-10 mb-x1-10">
  <!-- Grafica 1 -->
  <div class="col-lg-12 col-xl-12 col-xxl-6 mb-5 mb-xl-0">
    <div class="card card-flush h-md-150 mb-5 mb-xl-10">
      <div class="box-header with-border">
        <div class="card-header pt-5">
          <h3 class="card-title d-flex flex-column d-flex align-items-center">Cursos activos por Categoria</h3>
        </div>
      </div>
      <div class="card-body d-flex justify-content-between flex-column pb-1 px-0 min-h-auto ps-4 pe-6">
        <div class="apexcharts-canvas apexcharts74pkfughj apexcharts-theme-light">

          <canvas id="coursesPerCategoryChart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- Grafica 2 -->
  <div class="col-lg-12 col-xl-12 col-xxl-6 mb-5 mb-xl-0">
    <div class="card card-flush h-md-150 mb-5 mb-xl-10">
      <div class="box-header with-border">
        <div class="card-header pt-5">
          <h3 class="card-title d-flex flex-column d-flex align-items-center">Usuarios registrados a travez del año</h3>
        </div>
      </div>
      <div class="card-body d-flex justify-content-between flex-column pb-1 px-0 min-h-auto ps-4 pe-6">
        <div class="apexcharts-canvas apexcharts74pkfughj apexcharts-theme-light">
          <canvas id="usersByDateChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Segunda fila-->
<div class="row gy-5 g-xl-10">
  <!-- Grafica 3 -->
  <div class="col-xl-8 mb-5 mb-xl-10">
    <div class="card card-flush h-xl-100">
      <div class="box-header with-border">
        <div class="card-header pt-7">
          <h3 class="card-title align-items-start flex-column">Cursos por Semestre</h3>
        </div>
      </div>
      <div class="card-body d-flex justify-content-between flex-column pb-1 px-0 min-h-auto ps-4 pe-6">
        <div class="apexcharts-canvas apexcharts74pkfughj apexcharts-theme-light">
          <canvas id="coursesByLevelPieChart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-4 mb-xl-10">
    <!-- Primer bloque -->
    <div class="card card-flush h-xl-32 mb-2">
        <div class="box-header with-border">
            <div class="card-header pt-7">
                <h3 class="card-title align-items-start flex-column">Primera Dato</h3>
            </div>
        </div>
        <div class="card-body d-flex justify-content-between flex-column pb-1 px-0 min-h-auto ps-4 pe-6">
            <div class="apexcharts-canvas apexcharts74pkfughj apexcharts-theme-light">
                <canvas id="PrimeraChart"></canvas>
            </div>
        </div>
    </div>

    <!-- Segundo bloque -->
    <div class="card card-flush h-xl-32 mb-2">
        <div class="box-header with-border">
            <div class="card-header pt-7">
                <h3 class="card-title align-items-start flex-column">Segunda Dato</h3>
            </div>
        </div>
        <div class="card-body d-flex justify-content-between flex-column pb-1 px-0 min-h-auto ps-4 pe-6">
            <div class="apexcharts-canvas apexcharts74pkfughj apexcharts-theme-light">
                <canvas id="SegundaChart"></canvas>
            </div>
        </div>
    </div>

    <!-- Tercer bloque -->
    <div class="card card-flush h-xl-32">
        <div class="box-header with-border">
            <div class="card-header pt-7">
                <h3 class="card-title align-items-start flex-column">Tercera Dato</h3>
            </div>
        </div>
        <div class="card-body d-flex justify-content-between flex-column pb-1 px-0 min-h-auto ps-4 pe-6">
            <div class="apexcharts-canvas apexcharts74pkfughj apexcharts-theme-light">
                <canvas id="TerceraChart"></canvas>
            </div>
        </div>
    </div>
  </div>
  
</div>
<!--Tercera fila-->
<div class="row g-5 g-xl-10 mb-x1-10">
  <!-- Grafica 4 -->
  <div class="col-lg-12 col-xl-12 col-xxl-6 mb-5 mb-xl-0">
    <div class="card card-flush h-md-150 mb-5 mb-xl-10">
      <div class="box-header with-border">
        <div class="card-header pt-5">
          <h3 class="card-title d-flex flex-column d-flex align-items-center">Cuarta Grafica</h3>
        </div>
      </div>
      <div class="card-body d-flex justify-content-between flex-column pb-1 px-0 min-h-auto ps-4 pe-6">
        <div class="apexcharts-canvas apexcharts74pkfughj apexcharts-theme-light">

          <canvas id="CuartaChart"></canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- Grafica 5 -->
  <div class="col-lg-12 col-xl-12 col-xxl-6 mb-5 mb-xl-0">
    <div class="card card-flush h-md-150 mb-5 mb-xl-10">
      <div class="box-header with-border">
        <div class="card-header pt-5">
          <h3 class="card-title d-flex flex-column d-flex align-items-center">QuintaGrafica</h3>
        </div>
      </div>
      <div class="card-body d-flex justify-content-between flex-column pb-1 px-0 min-h-auto ps-4 pe-6">
        <div class="apexcharts-canvas apexcharts74pkfughj apexcharts-theme-light">
          <canvas id="QuintaChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
